body {
	min-height: 100vh;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#star-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	max-height: 700px;
	min-height: 700px;
	max-width: 1640px;
	overflow: hidden;
	background: rgb(39, 39, 39);
	z-index: 1;
	pointer-events: none;
}
.star {
	position: absolute;
	border-radius: 50%;
	will-change: transform;
	pointer-events: none;
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.1s linear;
	transition: -webkit-transform 0.1s linear;
	-o-transition: transform 0.1s linear;
	transition: transform 0.1s linear;
	transition:
		transform 0.1s linear,
		-webkit-transform 0.1s linear;
}
